page-home {
	text-align: center;

	.Chunk {
		width: 8px;
		height: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: brown;
		font-weight: bold;
		font-size: 8px;
		cursor: pointer;

		&[data-index="1"] {
			background: white;
		}

		&__container {
			display: flex;
			flex-wrap: wrap;
			margin: 10px auto;
		}
	}
}
