<div #chunkContainer class="Chunk__container"></div>
<ion-grid>
    <ion-row>
        <ion-col>
            <button ion-button (click)="play()">Play</button>
            <button ion-button (click)="stop()">Stop</button>
            <button ion-button (click)="clear()">Clear</button>
        </ion-col>
    </ion-row>
</ion-grid>